asgiref==3.9.1
backports.statistics==0.1.0
colorama==0.4.6
cryptography==45.0.5
Cython==3.1.2
dl==0.1.0
ipaddr==2.2.0
keyring==25.6.0
mypy_extensions==1.1.0
numpy==2.3.1
ordereddict==1.1
osmnx==2.0.5
paho_mqtt==2.1.0
python-dotenv==1.1.1
Requests==2.32.4
scipy==1.16.0
Shapely==2.1.1
typing_extensions==4.14.1
watchdog==6.0.0
wincertstore==0.2.1
